<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <% JSON.stringify(messages) %>
    <% if (messages.edit) { %>
      <% for (var i of messages.edit) { %>
        <p class="alert alert-danger"><%= i %></p>
      <% } %>
    <% } %>
    <nav class="navbar navbar-dark mb-3 bg-dark">
      <h1 class="navbar-brand">Editing <%= bird.first_name %> <%= bird.last_name %>'s Info</h1>
    </nav>
    <form class="col-4" action="/birds/<%= bird._id %>" method="post">
      <div class="form-group">
        <input class="form-control" type="text" name="first_name" value="<%= bird.first_name %>" placeholder="First Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="last_name" value="<%= bird.last_name %>" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="age" value="<%= bird.age %>" placeholder="Age">
      </div>
      <div class="form-row">
        <a href="/" class="btn btn-secondary ml-auto">Back</a>
        <button type="submit" class="btn btn-success">Update</button>
      </div>
    </form>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
