<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark mb-3 bg-dark">
      <h1 class="navbar-brand">The Bird Dashboard</h1>
    </nav>
    <div class="container-fluid">
      <table class="table table-striped mb-3">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age (in months)</th>
            <th>Actions</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="wrapper">
          <% for (var i in birds) { %>
            <tr>
              <td><%= birds[i].first_name %></td>
              <td><%= birds[i].last_name %></td>
              <td><%= birds[i].age %></td>
              <td> <a href="/birds/<%= birds[i]._id %>">Show</a> </td>
              <td> <a href="/birds/edit/<%= birds[i]._id %>">Edit</a> </td>
              <td> <a class="delete" href="/birds/destroy/<%= birds[i]._id %>">Delete</a> </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/birds/new">New Bird</a>
    </div>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script>
      $(document).ready(function() {
        $(".delete").on("click",function(e) {
          console.log(e);
          console.log("\n"+this.href);
          e.preventDefault(); // cancel the link itself
          $.post(this.href,function(data) {
            location.reload();
          });
        });
      });
    </script>
  </body>
</html>
